<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guest List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="stylesheet" href="htps://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- added style through app.js and using v-bind:style -->
            <div class="row" :style="appStyles">
                <div class="col-sm-12 text-center">
                    <h1>Guest List</h1>
                </div>
            </div>
            <div class="row" :style="appStyles">
                <div class="col-sm-12">
                    <div class="card">
                        <!-- two classes, first binded with html and the secondnd which is reactive and in control through vue.js -->
                        <div class="card-header" :class="formSubmitClass">
                            {{ event.eventDate }}
                        </div>
                        <div class=" card-block">
                            <!-- v-text updates the elements text-content.  Alternative to {{ Sets or returns the content of an element -->
                            <!-- v-once renders the element only once -->
                            <h4 class="card-title" v-once>{{ event.eventTitle }}</h4>
                            <hr>
                            <p class="card-text">{{ event.eventDescription }}</p>
                            <p class="card-text" v-html="event.signUpText"></p>
                            <!-- submitting name and adding it in a green box -->
                            <form class="form-inline" @submit.prevent="formSubmitted">
                                <input type="text" id="nameInput" class="form-control mb-2 mr-sm-2 mb-sm-0"
                                    placeholder="Jane Doe” v-model="newNameText">
                                <!-- if the data changes, the v-bind down below makes it update here too -->
                                <input type="submit" :class="formSubmitClass" class="btn btn-primary"></input>
                            </form>
                            {{ newNameText }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" :style="appStyles">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- how many guests are attending -->
                            Attending ({{ guestName.length}})
                        </div>
                        <div class="card-block">
                            <!-- if name longer, paste name - else no -->
                            <div v-if="guestName.length > 0">
                                <div class="card-success rounded name-box" v-for="name in guestName">
                                    {{ name }}
                                </div>
                            </div>
                            <div v-else>
                                <h4>No names added yet...</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>